body {
  background-color: #E6E6E6;
}

header {
position: absolute;
top: 0vh;
width: 100vw;
height: calc(100 / 960 * 100vh);
  background-color: #EEEEEE;

}

img#b{
position: absolute;
left: 0vw;
top: 1vh;
height: calc(100 / 960 * 100vh);
}

h1#oes{
position: absolute;
top: -1.8vh;
left: 28vw;
text-align:center;
font-size: 5vh;
}
div#main {
position: absolute;
top: calc(100 / 960 * 100vh);
width: 100vw;
height: calc(860 / 960 * 100vh);
  background-color: #E6E6E6;

}

div#b1{
position: absolute;
border-radius:25px;
left: 5vw;
top: 5.2vh;
width: calc(400 / 1920 * 100vw);
height: calc(750 / 960 * 100vh);
background: url('b1.png');
background-size:100% 100%;
}

div#b2{
position: absolute;
border-radius:25px;
left: 30vw;
top: 5.2vh;
width: calc(400 / 1920 * 100vw);
height: calc(750 / 960 * 100vh);
background: url('b2.png');
background-size:100% 100%;
}

div#b3{
position: absolute;
border-radius:25px;
left:55vw;
top: 5.2vh;
width: calc(400 / 1920 * 100vw);
height: calc(320 / 960 * 100vh);
background: url('b3.png');
background-size:100% 100%;
}

div#b4{
position: absolute;
border-radius:25px;
left: 55vw;
top: 50vh;
width: calc(400 / 1920 * 100vw);
height: calc(320 / 960 * 100vh);
background: url('b4.png');
background-size:100% 100%;
}

div#b5{
position: absolute;
border-radius:25px;
left: 80vw;
top: 5.2vh;
width: calc(300 / 1920 * 100vw);
height: calc(750 / 960 * 100vh);
background: url('b5.png');
background-size:100% 100%;
}

div#main2 {
position: absolute;
top: calc(100 / 960 * 100vh);
width: 100vw;
height: calc(860 / 960 * 100vh);
  background-color: #E6E6E6;
font-size: 5vh;
text-align:center;
}

img#vippimage{
position: absolute;
left: 80vw;
top: 1vh;
height: calc(100 / 960 * 100vh);
}

div#tztzz{
position: absolute;
border-radius:25px;
left: 5vw;
top: 8vh;
width: calc(1750 / 1920 * 100vw);
height: calc(820 / 960 * 100vh);
  background-color: #A4A4A4;
font-size: 7vh;
}



p#dddhm{

font-size: 8vh;
}

a#jhjjh{

font-size: 8vh;
}


input#codee{
width: 100vw;
height: 5vh;
}

div#books {
position: absolute;
top: calc(100 / 960 * 100vh);
width: 100vw;
height: calc(860 / 960 * 100vh);
font-size: 5vh;
text-align:center;
background: url('book.jpg');
background-size:100% 100%;
}

div#book1{
position: absolute;
border-radius:15px;
left: 10vw;
top: 3.7vh;
width: calc(210 / 1920 * 100vw);
height: calc(370 / 960 * 100vh);
background: url('7.jpg');
background-size:100% 100%;}

div#book2{
position: absolute;
border-radius:15px;
left: 27vw;
top: 3.7vh;
width: calc(210 / 1920 * 100vw);
height: calc(370 / 960 * 100vh);
background: url('8.jpg');
background-size:100% 100%;}


iframe#aau{
position: absolute;
top: calc(120 / 960 * 100vh);
width:100%;
height:100%;
}